.card {
    position: relative;
    width: 6.25rem;
    height: 11.375rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .card-value-top {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-value-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(180deg);
  }
  
  .card-suit {
    font-size: 5.5rem;
    margin-top: 20px;
  }
  
  .hearts, .diamonds {
    color: red;
  }
  
  .clubs, .spades {
    color: black;
  }
  